<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Magento\Framework\App\FrontControllerInterface">
    <plugin name="merlin_ids_intrusion_guard"
            type="Merlin\IntrusionDetection\Plugin\IntrusionGuard"
            sortOrder="10"/>
  </type>
</config>
