<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
<menu>
<add id="Merlin_IntrusionDetection::root" title="Merlin Intrusion" module="Merlin_IntrusionDetection" sortOrder="950" parent="Magento_Backend::stores" resource="Merlin_IntrusionDetection::config"/>
</menu>
</config>
