<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="merlin_intrusion" translate="label" type="text" sortOrder="950" showInDefault="1" showInWebsite="1" showInStore="1">
      <label>Merlin Intrusion Detection</label>
      <tab>security</tab>
      <resource>Merlin_IntrusionDetection::config</resource>
      <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>General</label>
        <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Enabled</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Action Mode</label>
          <comment>Detect-only or actively Block on hit</comment>
          <source_model>Merlin\IntrusionDetection\Model\Config\Source\Mode</source_model>
        </field>
        <field id="log_details" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Log Request Details</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
      </group>
    </section>
  </system>
</config>
